@font-face {
  font-family: "ProximaRegular";
  src: url("../fonts/ProximaNova-Regular/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/ProximaNova-Regular/ProximaNova-Regular.woff") format("woff"),
  url("../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ProximaSemibold";
  src: url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.woff") format("woff"),
  url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ProximaBold";
  src: url("../fonts/ProximaNova-Bold/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/ProximaNova-Bold/ProximaNova-Bold.woff") format("woff"),
  url("../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: "ProximaRegular", sans-serif;
  margin: 0;
}

header {
  height: 100vh;
  background-color: #444343;
  background: url('../img/background_main.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}


a {
  color: #fff;
  text-decoration: none;
}

.logo {
  margin-top: 11px;
}

.header_nav {
  list-style: none;
  color: #fff;
  margin-top: 25px;;

}

li {
  display: inline-block;
  margin-right: 39px;
  font-size: 14px;

}

.button {
  width: 125px;
  height: 32px;
  border-radius: 16px;
  background-color: #f15929;
  margin-left: 100px;
}

.button_text {
  font-family: "ProximaSemibold", sans-serif;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 32px;
  margin-top: 25px;
}

.main_title {
  font-family: "ProximaBold", sans-serif;
  color: #fff;
  font-size: 64px;
  line-height: 67.01px;
  margin-bottom: 0px;
}

.main_subtitle {
  font-family: "ProximaRegular", sans-serif;
  color: #dfdfdf;
  font-size: 18px;
  line-height: 26px;
  margin-top: 24px;
}

.button_main {
  width: 252px;
  height: 62px;
  border-radius: 31px;
  background-color: #f15929;
  margin-left: 14px;
}

.button_main:hover {
  transform: scale(1.1);
  transition: 0.3s;

}

.button_text_main {
  font-family: "ProximaSemibold", sans-serif;
  font-size: 24px;
  color: #fff;
  text-align: center;
  line-height: 62px;
  margin-top: 82px;
}

.center_all {
  margin-left: 100px;
  margin-top: 200px;
}

.arrow {
  margin-left: 700px;
  margin-top: 10px;
}



.wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.card {
  width: 458px;
  height: 288px;
  position: relative;
  perspective: 1000px;
}
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
  border-radius: 10px;
}
.front {
  background-color: #161616;
  background-image: url('../img/card_front.png');

}
.back {
  background-color: #161616;
  background-image: url('../img/card_back.png');
  transform: rotateY(180deg);
}
.card:hover .front {transform: rotateY(180deg);}
.card:hover .back {transform: rotateY(360deg);}
