html {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100vh;
}

h3 {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

li {
  list-style: none;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #1f2124;
  color: #fff;
}

.header_title {
  text-align: center;
  padding-top: 50px;
  font-size: 40px;
  font-weight: 700;
}

.header_title_dots {
  color: #ef2525;
}

.price {
  height: 1000px;
  padding-top: 50px;
}

.price_title {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.price_block {
  margin-top: 50px;
}

.header_title_price {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 40px;
  font-weight: 700;
}

.btn_more::after {
  content: "⬇️";
  font-size: 20px;
  margin-left: 10px;
  margin-right: 0;
  padding: 0;
  vertical-align: middle;
}

nav {
      padding: 8px;
}

.logo {
      float: left;
      padding: 8px;
      margin-left: 16px;
      margin-top: 8px;
}

.logo a {
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 0px;
      text-decoration: none;
}

nav ul {
      float: right;
}

nav ul li {
      display: inline-block;
      float: left;
}

nav ul li:not(:first-child) {
      margin-left: 48px;
}

nav ul li:last-child {
      margin-right: 24px;
}

nav ul li a {
      display: inline-block;
      outline: none;
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 14px;
      letter-spacing: 1.2px;
      font-weight: 600;
}

.first_screen {
  height: 100vh;
}

.top_full {
  height: 464px;
  width: 360px;
  background-color: #fff;
  border-radius: 25px;
}

.top_full_inside {
  display: block;
  height: 185px;
  width: 100%;
  background-color: #2cf444;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  text-align: center;
}

.top_img {
  height: 85px;
  width: 83px;
  margin-top: 22px;
}

.top_title {
  font-size: 25px;
  font-weight: 700;
  margin-top: 26px;
}

.top_list {
  padding-left: 25px;
  margin-top: 32px;

}

.top_list_item {
  color: #1f2124;
  font-size: 14px;

}

.top_old_price {
  font-size: 23px;
  color: #ef2525;
  text-decoration: line-through;
  text-align: center;
  font-weight: 700;
}

.top_new_price {
  font-size: 33px;
  font-weight: 700;
  color: #1f2124;
  text-align: center;
}




@media screen and (max-width: 864px) {
      .logo {
            padding: 0;
      }

      .nav-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: #fff;
            opacity: 0;
            transition: all 0.2s ease;
      }

      .nav-wrapper ul {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
      }

      .nav-wrapper ul li {
            display: block;
            float: none;
            width: 100%;
            text-align: right;
            margin-bottom: 10px;
      }

      .nav-wrapper ul li:nth-child(1) a {
            transition-delay: 0.2s;
      }

      .nav-wrapper ul li:nth-child(2) a {
            transition-delay: 0.3s;
      }

      .nav-wrapper ul li:nth-child(3) a {
            transition-delay: 0.4s;
      }

      .nav-wrapper ul li:nth-child(4) a {
            transition-delay: 0.5s;
      }

      .nav-wrapper ul li:not(:first-child) {
            margin-left: 0;
      }

      .nav-wrapper ul li a {
            padding: 10px 24px;
            opacity: 0;
            color: #000;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1.2px;
            transform: translateX(-20px);
            transition: all 0.2s ease;
      }

      .nav-btn {
            position: fixed;
            right: 10px;
            top: 10px;
            display: block;
            width: 48px;
            height: 48px;
            cursor: pointer;
            z-index: 9999;
            border-radius: 50%;
      }

      .nav-btn i {
            display: block;
            width: 20px;
            height: 2px;
            background: #fff;
            border-radius: 2px;
            margin-left: 14px;
      }

      .nav-btn i:nth-child(1) {
            margin-top: 16px;
      }

      .nav-btn i:nth-child(2) {
            margin-top: 4px;
            opacity: 1;
      }

      .nav-btn i:nth-child(3) {
            margin-top: 4px;
      }
}

#nav:checked + .nav-btn {
      transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
      background: #000;
      transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
      transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
      opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
      transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
      z-index: 9990;
      opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
      opacity: 1;
      transform: translateX(0);
}

.hidden {
      display: none;
}



@media (max-width: 576px) { /* iPhone 6 */
  #particles-contents {
    position: static;
  }

  .header_title {
    font-size: 34px;
    margin-top: 50px;
    margin-bottom: 70px;
  }

  .absent {
    margin-top: 55px;
  }

  .networks_mobile {
    margin-bottom: 60px;
  }

  .logo a {
        font-size: 15px;
  }

  .logo {
        margin-top: 15px;
        margin-left: 0;
  }


}

@media (max-width: 320px) { /* iPhone 5 */
  body {
    text-align: center;
  }

  .price {
    margin-top: 1200px;
  }
}
